
body {
    margin: 0;
    font-family: monospace;
    background-color:#DE9E36 ;
    margin-right: -10px;
}

img {
    width: 100%
}

header {
    background-color:#37323E;
    margin-bottom: 40px;
}

header h1 {
    color:#DEB841;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    font-size: 38px;
    font-family: monospace;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display:flex;
    padding-left: 0;
    list-style:none;
}

header nav ul li a {
    color:white;
    text-decoration: none;
    margin: 0 20px 0 0;

}

header nav ul li:last-child a {
    margin-right: 0;
}
iframe {
    height: 90%;
}

#map-width {
    width: 100%;
}

#form-width {
    width: 100%;
}
footer {
    background-color:#37323E;
    margin-top: 40px;
    margin-bottom: 0;
    text-align:center;
    padding-top: 6px;
    padding-bottom: 6px;
}

footer p {
    color:white;
}



@media all and (min-width: 700px) {


    header {
        display:flex;
        justify-content: space-between;
        padding:0 30px;
    }

    header h1 {
        margin: 14px 0;
        padding-top: 0;
        font-size: 52px;;
    }

    header nav {
        margin-top: 14px;
        padding-top:6px;
    }

    header nav ul li a:hover{
        color:bisque;
    }

    main {
        padding: 20px;
    }
    main img {
        width: 100%;
    }
    
    section {
        margin-bottom: 100px;
    }
    .group {
        display: flex;
        flex-direction: column;
    }

    .item {
        flex: 1;
        margin: 10px;
    }

    .item-double {
        flex: 2;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 18px;
        text-decoration: underline;
    }

    p {
        font-family: monospace;
        line-height: 1.5em;
        font-size: 18px;
        margin-bottom: 0;
        color: black;
    }

    img.image-enhanced {
        border-radius:8px;
    }

    section.lightbackground {
        background-color:#6D6A75 ;
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 80px -20px;
        border-radius: 0;
    }

    footer {
        background-color:#37323E;
        margin-top: 40px;
        margin-bottom: 0;
        text-align:center;
    }

    footer p {
        color:white;
    }
    .item2 {
        padding-top: 8px;
        margin-top: 15px;
        
    }

}

@media all and (min-width: 800px) {
    section {
        padding: 0 10%;
    }
    .group {
        flex-direction: row;
    }
}

    form {
        padding-right: 8px;
    }

    form label {
        display:block;
    }
    form input,
    form textarea {
        width: 100%;
        margin-bottom: 20px;
    }

    form textarea {
        height: 160px;
    }



    